@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: gray;
}
p {
    margin: 0px;
    padding: 0px;
}
button {
    padding: 0px;
    margin: 0px
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus { 
    outline: none !important;
    border-color: #a7afb7;
    box-shadow: 0 0 10px #d9dadb;
 }
.container {
    position: relative;
    max-width: 1152px;
    height: 700px;
    background: #FFFFFF;
    margin-left: 25%;
    margin-top: 5%;
}
.headerDiv {
   display: flex;
   position: absolute;
   width: 1152px;
   height: 50px;
   left: 0px;
   top: 0px;
   background: #F5F5F6;
}
.headerDiv p {
    width: 44px;    
    height: 19px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}
.logo {
  position: absolute;
  width: 89px;
  height: 23px;
  left: 100px;
  top: 15px;
  cursor: pointer;
}
.enter {
    position: absolute;
    width: 58px;
    height: 33px;
    left: 992px;
    top: 9px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    text-align: center;
    color: #000000;
    background: white;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}
.headerDiv p {
    cursor: pointer;
}
.bank {
    position: absolute;
    left: 253px;
    top: 17px;
    color: #000000;
}
.business {
    position: absolute;
    left: 310px;
    top: 17px;
    color: #959BA4;
}
.investment {
    position: absolute;
    left: 381px;
    top: 17px;    
    color: #959BA4;
}
.insurance {
    position: absolute;
    left: 486px;
    top: 17px;        
    color: #959BA4;    
}
.mobile {
    position: absolute;
    left: 596px;
    top: 17px; 
    color: #959BA4;
}
.travel {
    position: absolute;
    left: 671px;
    top: 17px;    
    color: #959BA4;
}
.entertainment {
    position: absolute;
    left: 782px;
    top: 17px;       
    color: #959BA4;
}
.titleDiv {
    position: absolute;
    width: 587px;
    height: 32px;
    left: 253px;
    top: 106px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;    
    color: #000000;
}
.leftText {
    position: absolute;
    width: 120px;
    height: 28px;
    left: 253px;
    top: 171px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;    
    color: #9F9F9F;
}
.btnsFirst {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 259px;
    height: 30px;
    left: 253px;
    top: 200px;     
    border: 1px solid white;
    border-radius: 3px;
}
.btnsFirst button {
    width: 63.81px;
    height: 28px;    
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;    
    background-color: white;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
    cursor: pointer;
    border-radius: 3px;
}
.leftInputDiv {
    box-sizing: border-box;
    position: absolute;
    width: 259px;
    height: 102px;
    left: 253px;
    top: 250px;
}
.leftInputDiv p {
    position: absolute;
    width: 119px;
    height: 28px;
    left: 10px;
    top: 85px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #C6C6C6;
}
.leftInput {
    box-sizing: border-box;
    position: absolute;    
    width: 259px;
    height: 102px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;    
    color: #000000;
    border: 1px solid #E5E5E5;
}
.rightText {
    position: absolute;
    width: 120px;
    height: 28px;
    left: 635px;
    top: 171px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #9F9F9F;
}
.btnsSecond {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 259px;
    height: 30px;
    left: 635px;
    top: 200px;
    border:1px solid white;
    border-radius: 3px;
}
.btnsSecond button{
    align-items: center;
    text-align: center;    
    width: 63.81px;
    height: 28px;    
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background-color: white;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
    cursor: pointer;
}
.rightInputDiv {
    box-sizing: border-box;
    position: absolute;
    width: 259px;
    height: 102px;
    left: 635px;
    top: 250px;
}
.rightInputDiv p {
    position: absolute;
    width: 119px;
    height: 28px;
    left: 10px;
    top: 85px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #C6C6C6;
}
.rightInput {
    box-sizing: border-box;
    position: absolute;
    width: 259px;
    height: 102px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;    
    color: #000000;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}
.convertors .active {
    background-color: blueviolet;
    color: white;
}